{% extends "bootstrap/base.html" %}

{% block title %} {{ APPNAME|title }}{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var csrf_token = "{{ csrf_token() }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/chocodist.js') }}"></script>
{% endblock scripts %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<style>

</style>
{% endblock head %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target=".navbar-collapse">
                    <span class="sr-only">Toogle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ APPNAME }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Admistrare site <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="{{ url_for('main.produse')}}">Produse</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.producatori')}}">Producatori</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.locatie')}}">Locatie</a></li>
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item"><a href="{{ url_for('main.produse')}}">Gestiune Produse</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.producatori')}}">Gestiune Producatori</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.locatie')}}">Gestiune Locatie</a></li>
                    -->
                    <li class="nav-item"><a href="{{ url_for('main.generare_comanda_producator')}}">Comanda la producator</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.comenzi_la_producator')}}">Sumar comenzi al producator</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.vanzare_produse')}}">Catalog produse</a></li>
                </ul> 
                <ul class="nav navbar-nav navbar-right navitem-right-side">
                    <li class="nav-item"><a href="{{ url_for('main.login')}}">Log In</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock navbar %}

{% block content %}
    <div class="flash-container">
    {% block flash_messages %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}}">
        <script>
        setTimeout(function() { //acest cod face ca mesajele flash de tip succes sa dispara dupa nr sec mentionat ca parm secunde
            $('.alert-success').fadeOut("swing");
        }, 7000); // <-- time in milliseconds
        setTimeout(function() {
            $('.alert-warning').fadeOut("fast");
        }, 4000);

         </script>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% for l in message.split("\n") %}
            <p>{{ l }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    
    {% endblock flash_messages %}
    </div>

    <section id="page_content">
    {% block page_content %}
    {% endblock page_content %}
    </section>

    {% block page_footer %}
    {% endblock page_footer %}

{% endblock content %}
</div>
