{% extends "base.html" %}

{% set pagina = namespace(nume="Generare comanda achizitie") %}

{% block page_content %}
    <header>
    <h1>{{ pagina.nume }}</h1>
    </header>
    <p>Completare formular de comanda produse de la producatori.</p>
    <!--Vizualizare comenzi: <a href="{{url_for('main.comenzi_la_producator')}}"> ->> Sumar comenzi la producatori</a>-->
    <hr>
    <div>
        <!--DBG
        id_selectat: {{id_selectat}}<br/>
        {% for p in producatori %}
            {{ p.nume }}: {{ p.id }}
            {% if id_selectat != None and p.id != None and id_selectat|string == p.id|string %}
                 -- selected, {{id_selectat}}
            {% endif %}
            <br/>
        {% endfor %}
        -->
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="selecteaza-producator" value="1"/>
            <label for="producator">Alegeti producatorul</label>
            <select name="producator" id="producator" type="number", required, onchange="this.form.submit()">
                <option value="">---</option>
                {% for p in producatori %}
                    <option value={{ p.id }}
                        {% if id_selectat != None and p.id != None and id_selectat == p.id|string %}
                            selected
                        {% endif %}
                    >{{ p.nume }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <hr>

    {% include "sablon_genereare_comanda_compact.html" %}

{% endblock %}