{% extends "base.html"%}

{% set pagina = namespace(nume="Produse") %}

{% block title %} {{ super() }} {{ pagina.nume }} {% endblock title %}

{% block page_content %}
    <header>
        <h1>{{ pagina.nume }}</h1>
    </header>

    <div class="container-table-and-form">
        <div class="container-form-add">
            <!--style="display: none;" -->
            <div onclick="showHide(event)" aria-controls="add-product-form">Adauga produs &#9658;</div>
            <form id="add-product-form" style="display: none;" method="POST" action="{{url_for('main.produse')}}"> <!--name only used in browser, not sent to server-->
                <fieldset class="border p-2">
                    <!--<legend onclick="showHide(event)">Add Product</legend>-->
                    <p>
                        <label for="product_name">Produs</label>
                        <input type="text" id="product_name" name="new_product_name" type="text" required pattern="[a-z,A-Z]+.*" />
                    </p>
                    <p>
                        <label for="producer">Producator</label>
                        <select name="producator" id="producer" type="number", required>
                            <option value="">---</option>
                            {% for p in producatori %}
                                <option value={{ p.id }}>{{ p.nume }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="product_quantity">Cantitate</label>
                        <input name="cantitate_stoc" id="product_quantity" type="text" value="0" required pattern="(^[1-9][0-9]*$)|^0$">
                    </p>
                    <p>
                        <input type="submit" name="submit_add_product_form" value="Adauga"/>
                        <input type="reset" value="Renunta"/>
                        <input type="hidden" name="action" value="add">
                        <!--<input type="button" value="Renunta" onclick="alert('Anulare actiune.\nApasati OK pentru anulare!'); window.location='/produse'"/>-->
                        
                    </p>
                </fieldset>
            </form>
        </div>
        <div class="container-detailed-table">
            <table class="table-bordered table-striped table-hover tabeldetaliat">
                <tr>
                    <th>#</th>
                    <th>Producator</th>
                    <th class="editable-td">
                        <div class="editable-td-span-tooltip-trigger">Produs</div>
                        <span class="editable-td-span-tooltip">Click pentru a edita!</span>
                    </th>
                    <th class="editable-td">
                        <div class="editable-td-span-tooltip-trigger">Cantitate Stoc</div>
                        <span class="editable-td-span-tooltip">Click pentru a edita!</span>
                    </th>
                    <th>Sterge</th>
                </tr>
            {% set ns = namespace(i=1) %}
            {% for p in produse %}
                <tr>
                    <td>{{ ns.i }}</td>
                    <td><a href="{{url_for('main.modifica_produs', id=p.id)}}">{{ p.producator.nume }}</td>
                    <td contenteditable="true" action="modify" type="text" item-id="{{p.id}}" item-attr="nume">{{p.nume}}</td>
                    <td style="text-align:right; padding-right:10px;" contenteditable="true" 
                        action="modify" type="number" item-id="{{ p.id }}" item-attr="cantitate_stoc">{{p.cantitate_stoc}}</td>
                    <!--<button class="btn btn-default btn-xs"></button>-->
                    <td style="text-align: center;">
                        <form method="POST" onsubmit="return confirm('Produsul selectat va fi sters!')">
                            <button type="submit" class="submit-with-icon" name="action" value="delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <input type="hidden" name="item-id" value="{{ p['id'] }}">
                            </button>
                        </form>
                    </td>
                </tr>
                {% set ns.i = ns.i + 1 %}
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock page_content %}