{% extends "base.html"%}

{% set pagina = namespace(nume="Produse") %}

{% block title %} {{ super() }} {{ pagina.nume }} {% endblock title %}

{% block page_content %}
    <header>
        <h1>{{ pagina.nume }}</h1>
    </header>

    <div class="container-table-and-form">
        <div class="container-form-add">
            <!--style="display: none;" -->
            <div onclick="showHide(event)" aria-controls="add-form">Adauga produs &#9658;</div>
            <form id="add-form" style="display: none;" method="POST" action="{{url_for('main.produse')}}"> <!--name only used in browser, not sent to server-->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <fieldset class="border p-2">
                    <!--<legend onclick="showHide(event)">Add Product</legend>-->
                    <p>
                        <label for="product_name">Produs</label>
                        <input type="text" id="product_name" name="new_product_name" type="text" required pattern="[a-z,A-Z]+.*" />
                    </p>
                    <p>
                        <label for="producator">Producator</label>
                        <select name="producator" id="producator" type="number", required>
                            <option value="">---</option>
                            {% for p in producatori %}
                                <option value={{ p.id }}>{{ p.nume }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="cantitate_stoc">Cantitate</label>
                        <input name="cantitate_stoc" id="cantitate_stoc" type="text" value="0" required pattern="(^[1-9][0-9]*$)|^0$">
                    </p>
                    <p>
                        <label for="pret_unitar">Pret Unitar</label>
                        <input name="pret_unitar" id="pret_unitar" type="text" value="0" required pattern="(^[1-9][0-9]*$)|^0$">
                    </p>
                    <p>
                        <label for="locatie">Locatie</label>
                        <select name="locatie" id="locatie" multiple>
                            {% for x in orase %}
                                <option value="{{ x.id }}">{{ x.nume }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <input type="submit" name="submit_add_product_form" value="Adauga"/>
                        <input type="reset" value="Renunta"/>
                        <input type="hidden" name="action" value="add">
                        <!--<input type="button" value="Renunta" onclick="alert('Anulare actiune.\nApasati OK pentru anulare!'); window.location='/produse'"/>-->
                        
                    </p>
                </fieldset>
            </form>
        </div>
        <div class="container-detailed-table">
            <table class="table-bordered table-striped table-hover tabeldetaliat">
                <tr>
                    <th>
                        <div class="editable-td-span-tooltip-trigger">#</div>
                        <!--<span class="editable-td-span-tooltip">Click pe numarul curent al produsului pentru a-l edita!</span>-->
                    </th>
                    <th>Producator</th>
                    <th class="editable-td">
                        <div class="editable-td-span-tooltip-trigger">Produs</div>
                        <span class="editable-td-span-tooltip">Click pe celula din tabel pentru a edita!</span>
                    </th>
                    <th class="editable-td">
                        <div class="editable-td-span-tooltip-trigger">Cantitate Stoc</div>
                        <span class="editable-td-span-tooltip">Click pe celula din tabel pentru a edita!</span>
                    </th>
                    <th class="editable-td">
                        <div class="editable-td-span-tooltip-trigger">Pret Unitar</div>
                        <span class="editable-td-span-tooltip">Click pe celula din tabel pentru a edita!</span>
                    </th>
                    <th>Nr. Locatii</th>
                    {% if current_user.poate(Permisiuni.ADMINISTRARE) %}
                    <th>Sterge</th>
                    {% endif %}
                </tr>
            {% set ns = namespace(i=1) %}
            {% for p in produse %}
                <tr>
                    <td><a href="{{url_for('main.modifica_produs', id=p[0].id)}}">{{ ns.i }}</a></td>
                    <td>{{ p[1] }}</td>
                    <td contenteditable="true" action="modify" type="text" item-id="{{p[0].id}}" item-attr="nume">{{p[0].nume}}</td>
                    <td style="text-align:right; padding-right:10px;" contenteditable="true" 
                        action="modify" type="number" item-id="{{ p.id }}" item-attr="cantitate_stoc">{{p[0].cantitate_stoc}}</td>
                    <td style="text-align:right; padding-right:10px;" contenteditable="true" 
                        action="modify" type="number" item-id="{{ p.id }}" item-attr="pret_unitar">{{p[0].pret_unitar}}</td>
                    <td class="editable-td" style="text-align:center;">
                        <div class="editable-td-span-tooltip-trigger">{{ p[2] }}</div>
                        <div class="editable-td-span-tooltip">IN LUCRU - afisare orase unde se fabrica</div>
                    </td>
                    <!--<button class="btn btn-default btn-xs"></button>-->
                    {% if current_user.poate(Permisiuni.ADMINISTRARE) %}
                    <td style="text-align: center;">
                        <form method="POST" onsubmit="return confirm('Produsul selectat va fi sters!')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="submit-with-icon" name="action" value="delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <input type="hidden" name="item-id" value="{{ p[0].id }}">
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% set ns.i = ns.i + 1 %}
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock page_content %}