{% extends "base.html"%}

{% set pagina = namespace(nume="Produse") %}

{% block title %} {{ super() }} {{ pagina.nume }} {% endblock title %}

{% block page_content %}
    <header>
        <h1>{{ pagina.nume }}</h1>
    </header>

    <table class="tabeldetaliat">
        <tr>
            <th>Nr.</th>
            <th>Producator</th>
            <th>Produs</th>
        </tr>
    {% set ns = namespace(i=1) %}
    {% for p in produse %}
        <tr>
            <td>{{ ns.i }}</td>
            <td>{{ p.producator.nume }}</td>
            <td>{{ p.nume }}</td>
        </tr>
        {% set ns.i = ns.i + 1 %}
    {% endfor %}
    </table>
{% endblock page_content %}