{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Producatori {% endblock title %}

{% block page_content %}
    <header>
        <h1>Producatori</h1>
    </header>
    
    <div class="container-table-and-form">
        <div class="container-detailed-table">
            <table class="table-bordered table-striped table-hover tabeldetaliat">
            {% set ns = namespace(i=1) %}
            <tr>
                <th>#</th>
                <th class="editable-td">
                    <div class="editable-td-span-tooltip-trigger">Nume</div>
                    {% if current_user.poate(Permisiuni.ADMINISTRARE) %}
                    <span class="editable-td-span-tooltip">Click pentru a edita!</span>
                    {% endif %}
                </th>
                <th>Produse</th>
                {% if current_user.poate(Permisiuni.ADMINISTRARE) %}
                <th>Sterge</th>
                {% endif %}
            </tr>
            {% for p in producatori %}
                <tr>
                    <td>{{ ns.i }}</td>
                    <td action="modify" item-attr="nume" item-id="{{ p[0] }}" 
                        {% if current_user.poate(Permisiuni.ADMINISTRARE) %} contenteditable="true" {% endif %}>
                        {{ p[1] }}
                    </td> <!--item-attr - util doar pentru mesaj - vezi js pt contenteditable-->
                    <td style="text-align:right; padding-right:10px;">{{ p[2] }}</td>
                    {% if current_user.poate(Permisiuni.ADMINISTRARE) %}
                    <td style="text-align: center;">
                        <form method="POST" onsubmit="return confirm('Produsul selectat va fi sters!')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="submit-with-icon" name="action" value="delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <input type="hidden" name="item-id" value="{{ p[0] }}">
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% set ns.i = ns.i + 1 %}
            {% endfor %}
            </table>
        </div>
        
        <div class="container-form-add" >
            <div onclick="showHide(event)" aria-controls="add-form">Adauga producator &#9658;</div>
            <div id="add-form" style="display: none;">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
    
{% endblock page_content %}