/* ============ main page ============*/

#page_content {
    margin: 5px;
    /*background-color: greenyellow;*/
}

.hidden {
    display: none; /* or visibility: hidden; */
}


.tabeldetaliat td {
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}


.tabeldetaliat {
    margin: 0px 5px 5px 5px;
    border:2px solid gray;
}

/*
.tabeldetaliat tr td {
    padding: 2px;
    margin:0px;
}
*/

.tabeldetaliat th {
    padding: 3px;
    /*border-color: red;
    border-style: dashed;*/ /*does not work - overwritten by other class*/
    background-color: darkblue;
    color: white;
    font-weight:bold;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color:rgb(245, 245, 225);
}

.table-hover tbody tr:hover td {
    background-color:aliceblue;
}

.table-hover tbody tr td:hover {
    background-color:peachpuff;
}

.glyphicon-trash {
    margin-top: 1px;
    padding-top: 0px;
}

.glyphicon-trash:hover {
    /*background-color:red;*/
    transform:translate(1px,1px)
}
.glyphicon-trash:active {
    /*background-color:red;*/
    transform:translate(1px,2px)
}

.submit-with-icon {
    background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}

.navbar {
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}

.container {
    width:auto;
}

.navitem-right-side {
    background-color: blue;
    lfloat: right;
}

.navbar-header {
    background-color:orangered;
    padding-left:6px;
    padding-right:1px;
}

.navbar-header .navbar-brand {
    color: palegreen;
    margin-left:4px;
}


/* EXPANDED state (above your custom breakpoint) */
/*
@media (min-width: 1120px) {
  .navbar-header {
    float: left;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }
}
  */

/* COLLAPSED state (below your custom breakpoint) */
/*
@media (max-width: 1119px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    display: none !important;
    width: 100%;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar-nav {
    float: none;
  }

  .navbar-nav > li {
    float: none;
  }
}
*/


/*
//see flask_bootstrap/static/css/bootstrap.css - there is the setup for the toolbar
//and also the size of 768 foor toolbar collapse
//bootstrap version used by Flask: Flask-Bootstrap==3.3.7.1

@media (max-width: 1130px) {
    .nav {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-header {
        width:100%;
    }
    .navbar {
        background-color: orangered;
    }
}

@media (max-width: 899px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
}

*/
/* =========== table and form page =========== */
.container-table-and-form {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
    */
    display: flex;
    flex-direction: row;
}

.container-detailed-table {
    float: left; /*to appear on the same line with the form*/ 
}

.container-detailed-table .editable-td-div {
    width:100%;
}

.editable-td .editable-td-span-tooltip {
    display: none;
}

.editable-td .editable-td-span-tooltip-trigger {
    width:100%;
    cursor:help;
}

.editable-td .editable-td-span-tooltip-trigger:hover + .editable-td-span-tooltip {
    display:inline;
    /*position:relative;*/ /* relative to .tooltipTrigger - afisare in celula*/
    position:absolute; /*afisare in exeteriorul celulel - dar langa aceasta*/
    background-color:darkgray;
    color:white;
    /*left: 10px;*/ /*pentru cazul in care se doreste afisarea in celula*/
    z-index:1;
    border: 1px solid #ccc;
    border-radius:5px;
}


.container-form-add {
    /*background-color:darksalmon;*/
    margin:0px 5px 5px 5px;
    /*float:left;to appear on the same line with the table*/
}


/* --------------------- micsorare fereastra ------------------------ */
@media (max-width: 800px) {
    .container-table-and-form {
        flex-direction: column;
    }

    .container-form-add {
        order: -1; /* moves add form above the table */
    }

    /*
    pt display grid;


      .div2 {
        grid-row: 1;
      }

      .div1 {
        grid-row: 2;
      }
    */
}

/*
.container-form-add form table td {
    padding: 2px;
}
*/
.container-form-add form fieldset {
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 2px;
}

.container-form-add form fieldset legend {
    width:inherit;
    padding: 0px 5px 0px 5px;
    border-bottom:none;
    font-size:medium;
}

.container-form-add form fieldset p label {
    width:100px;
    /*color: yellow;*/
    font-weight:normal;
}


/*--------------- error box ---------------------*/
div[class="error-container"] {
    width:90%; 
    font-family: 'Courier New', Courier, monospace; 
    background: lightgray; 
    padding: 4px;
}

/*---------------flash messages------------------*/
.flash-container {
    width:50%; 
    position:fixed;
    margin-left:50%;
    padding-right:5%;
    /*background:lightcyan;*/
    z-index:1;
}

/*
# folosite din Bootstrap: https://getbootstrap.com/docs/4.0/components/alerts/
.flash-container .alert-warning {
    background-color:lightyellow;
}

.flash-container .alert-danger {
    background-color:lightpink;
    padding: 3px;
}
*/

/* login */
.formular-login {
    min-width: 200px;
    width:20%;
}