<h1>Functionalitati pagina WEB in imagini</h1>

<h3>Descrierea aplicatiei</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/fara_auth_descriere_aplicatie.png') }}">

<h3>Redirectare catre login - la accesarea catalogului cu produse</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/fara_auth_catalog_produse_redirect_login.png') }}">

<h3>Inregistrare utilizator nou</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/inregistrare_utilizator_nou.png') }}">

<h3>Catalog produse si formular comanda</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/catalog_produse_si_formular_comanda.png') }}">

<h3>Sumar comenzi de la clienti - cu utilizator 'admin'</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/comenzi_de_la_clienti.png') }}">

<h3>Sumar comenzi de la clienti - cu utilizator 'client'</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/client_conectat_comenzi_client.png') }}">

<h3>Administrare site optiuni</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/administrare_site_optiuni.png') }}">

<h3>Administrare site produse pagina principala</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/administrare_produse_pg_principala.png') }}">

<h3>Administrare site pagina modificare produs</h3>
<img style='width:600px;', src="{{ url_for('static', filename='images/presentation/administrare_produse_pg_modificare_produs.png') }}">