{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}

{% block title %}
    Distribuitor Ciocolata
    {{ super () }}
{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <style>

    #continut {
        margin: 5px;
    }

    #content {
        margin: 5px;
    }

    .tabelulmeu {
        margin: 10px;
        border: 3px solid;
        font-size: 18px;
        padding: 4px;
    }
    
    article {
      float: left;
      padding: 0px;
      width: 70%;
      /*background-color: #f1f1f1;*/
      /*height: 300px; /* only for demonstration, should be removed */
    }

    /* Clear floats after the columns */
    section::after {
      content: "";
      display: table;
      clear: both;
    }

    /* Style the footer */
    footer {
      background-color: #777;
      padding: 10px;
      text-align: center;
      color: white;
    }
    
    </style>
{% endblock head %}

{% block scripts %}
    {{ super() }}
    {% include 'scripturi.html' %}
{% endblock scripts %}

{% block navbar %}
    <div class="navbar navbar-inverse" style="background: navy;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toogle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class='navbar-brand' href="/" style="font-size: 25px;">Distribuitor Ciocolata</a>
            </div>
            <div class="navbar-collapse collapse" id="mynavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/produse" style="font-size: 20px;">Produse</a></li>
                    <li><a href="/producatori" style="font-size: 20px;">Producatori</a></li>
                    <li><a href="/comenzi-producatori" style="font-size: 20px;">Comenzi Producatori</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('auth.login')}}" style="font-size: 20px;">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container flashMessage", style="width:30%; position:absolute; margin-left:30%; margin-top:0px">
        <script>
        setTimeout(function() {
            $('.flashMessage').fadeOut('slow');
        }, 3000); // <-- time in milliseconds
        </script>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert" style="opacity:.8; color:inherit">
                    <button type="button" class="close" data-dismiss="alert">
                        &times;
                    </button>
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div id="continut">
        {% block content_content%}
        salut 1234
        {% endblock %}
    </div>
{% endblock %}