v0.4
<pre>
NOUTATI:
========
Aceasta versiune foloseste o baza de date MySQL.
Aplicatia interactioneaza cu baza de date, citeste date, le afiseaza, transmite
in baza de date modificarile facute - fie de modificarea valorii unei componente
fie stergerea acesteia.

== Componenta care inca foloseste datele hardcodate ==
Pagina de continut comenzi producatori este in cotinuare construta cu datele
hardcodate in:
    app/date/date.py 
si prelucrate cu functiile din:
    prelucrare_date.py.

Se lasa ca exercitiu creerea componentei continut_comenzi_producatori.py si 
utilizarea datelor din baza de date, nu a celor hardcodate pentru a construi
aceasta pagina. 

Se afiseaza tabelele:
 - producatori
 - produse
 - continut comenzi la producatori

Actiunile CRUD pe primele doua tabele sunt transmise in baza de date.

CRUD:
 Creere
 Read    (citire)
 Update  (modificare)
 Delete  (stergere)

Pagina 'Produse' nu permite adugarea unui produs daca nu se da numele acestuia
sau nu se specifica producatorul.

Pagina 'Producatori' nu are aceasta functionalitate. Se pot adauga producatori
fara sa se specifice numele acestora. 

Protectie la stergere - datorita configurarii bazei de date, nu se pot sterge
producatori daca mai sunt produse.

DE FACUT
========
1. De modificat pagina producatori sa nu permita adaugarea de producatori fara
   nume.
   
2. De afisat mesaj in pagina cand se incearca stergerea unui producator care are
   produse.
   
3. Modificare pagina "Comenzi La Producatori" sa foloseasca datele din baza de
   date, nu pe cele hardcodate in aplicatie.

</pre>
