v0.5
<pre>
NOUTATI:
=========
Versiunea 0.6+ (V0.6+) adauga suport pentru containerizarea aplicatiei.

1) Configurare Dockerfile in directorul site_distribuitor

2) Utilizare quickrequirements.txt in loc de requirements.txt
    - requirements.txt generat cu pip freeze > requirements.txt pastreaza si versiunile 
      pachetelor. Am avut probleme pe versiuni mai noi de Linux datorita faptului ca
      pachetele mai vechi nu puteau fi instalate (trecere de la Python 3.8 la Python 3.11)

    - pentru ca apllicatia functioneaza cu orice versiune > de Python 3.8 am 
      abstractizat fisierul requirements, adaugand doar pachetele 'mari' flask-sqlalchemy, Flask
      etc. (a se vedea quickrequirements.txt)

========
Versiunea 6 (V0.6)


========
1)  Versiunea app_v5 folosete date din baza de date SQLite. Baza de date
    este un fisier stocat in aplicatie: 
        date/site_distribuitor_dev.sqlite

    Pentru a vizualiza grafic datele SQLite, se poate folosi aplicatia:
    DB Browswer for SQLite care se poate obtine de la link-ul:
        http://sqlitebrowser.org

    Pentru a demonstra functionalitatea, baza de date SQLite este conve-
    nabila pentru ca nu trebuie sa avem configurat un server de baze de
    date.
    Aplicatia este astfel mult mai portabila - calculatorul pe care 
    ruleaza trebuie doar sa aiba Pythonul si bibliotecile din 
    requirements.txt instalate.

    Pentru aplicatii de productie, nu se recomanda SQLite. Fisierul cu
    baza de date poate corupe si devine inutilizabil.
    Se recomanda folosirea MySQL sau PostgreSQL.            

2)  Accesul la date se face prin intermediul SQLAlchemy
    SQLAlchemy este un (set de unelte) toolkit SQL Python si 
    "Object Relational Mapper" (ORM) care permite accesarea datelor ca
    obiecte.
    Documentatie: https://www.sqlalchemy.org/ 
    
3.  Mesajele 'flash' dispar dupa 3 secunde.


Aplicatia interactioneaza cu baza de date, citeste date, le afiseaza, transmite
in baza de date modificarile facute - fie de modificarea valorii unei componente
fie stergerea acesteia.

Se afiseaza tabelele:
 - producatori
 - produse
 - continut comenzi la producatori

Actiunile CRUD pe primele doua tabele sunt transmise in baza de date.

CRUD:
 Creere
 Read    (citire)
 Update  (modificare)
 Delete  (stergere)

Pagina 'Produse' nu permite adugarea unui produs daca nu se da numele acestuia
sau nu se specifica producatorul.

Pagina 'Producatori' nu are aceasta functionalitate. Se pot adauga producatori
fara sa se specifice numele acestora. 

Protectie la stergere - datorita configurarii bazei de date, nu se pot sterge
producatori daca mai sunt produse.

DE FACUT
========
1. De modificat pagina producatori sa nu permita adaugarea de producatori fara
   nume.
   
2. De afisat mesaj in pagina cand se incearca stergerea unui producator care are
   produse.
   
3. De modificat mesajele 'flash' sa nu mai deplaseze continutul in jos.
   De modificat mesajele 'fash' sa fie mai prietenoase - mesajul cand se sterg
   producatori sau cand nu se poate sterge un producator pentru ca are produse
   asociate etc.

</pre>
