{% extends "base.html" %}

{% block content %}
<div class="container flashMessage", style="width:50%; position:fixed; margin-left:20%;">
    <script>
    setTimeout(function() {
        $('.flashMessage').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
    </script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert" style="opacity:.7; color:inherit">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div id=content>
    {% if page == "distribuitor ciocolata" %}
        <h1> {{page|title}} {% include 'versiune.html' %}</h1>
        <pre>                            
            Continutul initial al baze de date SQLite este bazat pe datele
            initiale din dateinitiale/date.py:
            
            mysql> show tables;
            +---------------------------------+
            | Tables_in_site_distribuitor     |
            +---------------------------------+
            | comenzi_la_producatori          |
            | continut_comenzi_la_producatori |
            | producatori                     |
            | produse                         |
            +---------------------------------+
            
            mysql> select * from producatori;
            +----+--------+
            | id | nume   |
            +----+--------+
            |  1 | Poiana |
            |  2 | Kandia |
            |  3 | Milka |
            +----+--------+
            
            mysql> select * from produse;
            +----+---------------+------------------------------+
            | id | id_producator | nume                         |
            +----+---------------+------------------------------+
            |  1 |             1 | Ciocolata cu lapte           |
            |  2 |             1 | Ciocolata cu alune           |
            |  3 |             2 | Ciocolata cu iaurt           |
            |  4 |             2 | Ciocolata cu caramel sarat   |
            |  5 |             2 | Ciocolata cu biscuiti        |
            |  6 |             2 | Ciocolata amaruie            |
            |  7 |             3 | Cicolata cu fructe de padure |
            |  8 |             3 | Ciocolata cu lapte           |
            +----+---------------+------------------------------+

            mysql> select * from comenzi_la_producatori;
            +----+---------------+
            | id | id_producator |
            +----+---------------+
            |  1 |             1 |
            |  2 |             2 |
            |  3 |             3 |
            +----+---------------+
            
            mysql> select * from continut_comenzi_la_producatori;
            +------------+-----------+-----------+
            | id_comanda | id_produs | cantitate |
            +------------+-----------+-----------+
            |          1 |         1 |       100 |
            |          1 |         2 |       150 |
            |          2 |         3 |       200 |
            |          2 |         4 |       250 |
            |          3 |         7 |        50 |
            +------------+-----------+-----------+                
        </pre>
        {% include 'descriere_versiune.html' %}

    {% endif %}
    
    <!--
        prima_coloana = 1 -> ignorare coloana ID din baza de date
        Avem nevoie de ID-ul din baza de date dar nu trebuie afisat.
        
        Setati variabila in paginile incluse mai jos la 0 pentru a 
        afisa si prima coloana
    -->
    {% set prima_coloana = 1 %}
    
    {% if page == "comenzi la producatori" %}
        {% include 'continut_comenzi_producatori.html' %}
    {% endif %}

    {% if page == "produse" %}
        {% include 'produse.html' %}
    {% endif %}

    {% if page == "producatori" %}
        {% include 'producatori.html' %}
    {% endif %}

    
</div>     
{% endblock %}
