{% extends "bootstrap/base.html" %}

{% block title %}
    Distribuitor Ciocolata {% include 'versiune.html' %}
    {{ super () }}
{% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-inverse" style="background: navy;">        
        <a class='navbar-brand' href="/" style="font-size: 25px;">Distribuitor Ciocolata</a>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="nav navbar-nav">
                <li><a href="/comenzi-producatori" style="font-size: 20px;">Comenzi Producatori</a></li>
                <li><a href="/produse" style="font-size: 20px;">Produse</a></li>
                <li><a href="/producatori" style="font-size: 20px;">Producatori</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block head %}
    {{ super() }}
    
    <style>
    #content {
        margin: 5px;
    }
    .tabelulmeu {
        margin: 10px;
        border: 3px solid;
        font-size: 18px;
        padding: 4px;
    }
    
    article {
      float: left;
      padding: 0px;
      width: 70%;
      /*background-color: #f1f1f1;*/
      /*height: 300px; /* only for demonstration, should be removed */
    }

    /* Clear floats after the columns */
    section::after {
      content: "";
      display: table;
      clear: both;
    }

    /* Style the footer */
    footer {
      background-color: #777;
      padding: 10px;
      text-align: center;
      color: white;
    }
    
    </style>
{% endblock head %}

{% block scripts %}
    {{ super() }}
    {% include 'scripturi.html' %}
{% endblock scripts %}


{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div id=content>
    {% if page == "distribuitor ciocolata" %}
        <h1> {{page|title}} {% include 'versiune.html' %}</h1>
        <pre>
            Versiunea app_v4 folosete date din baza de date MySQL site_distribuitor.
            
            Continutul initial al acestei baze de date este:
            
            mysql> show tables;
            +---------------------------------+
            | Tables_in_site_distribuitor     |
            +---------------------------------+
            | comenzi_la_producatori          |
            | continut_comenzi_la_producatori |
            | producatori                     |
            | produse                         |
            +---------------------------------+
            
            mysql> select * from producatori;
            +----+--------+
            | id | nume   |
            +----+--------+
            | 53 | Heidi  |
            |  2 | Kandia |
            |  3 | Milka  |
            |  1 | Poiana |
            +----+--------+
            
            mysql> select * from produse;
            +----+---------------+------------------------------+
            | id | id_producator | nume                         |
            +----+---------------+------------------------------+
            |  1 |             1 | Ciocolata cu lapte           |
            |  2 |             1 | Ciocolata cu alune           |
            |  3 |             2 | Ciocolata cu iaurt           |
            |  4 |             2 | Ciocolata cu caramel sarat   |
            |  5 |             2 | Ciocolata cu biscuiti        |
            |  6 |             2 | Ciocolata amaruie            |
            |  7 |             3 | Cicolata cu fructe de padure |
            |  8 |             3 | Ciocolata cu lapte           |
            +----+---------------+------------------------------+

            mysql> select * from comenzi_la_producatori;
            +----+---------------+
            | id | id_producator |
            +----+---------------+
            |  1 |             1 |
            |  2 |             2 |
            |  3 |             3 |
            +----+---------------+
            
            mysql> select * from continut_comenzi_la_producatori;
            +------------+-----------+-----------+
            | id_comanda | id_produs | cantitate |
            +------------+-----------+-----------+
            |          1 |         1 |       100 |
            |          1 |         2 |       150 |
            |          2 |         3 |       200 |
            |          2 |         4 |       250 |
            |          3 |         7 |        50 |
            +------------+-----------+-----------+                
        </pre>
        {% include 'descriere_versiune.html' %}

    {% endif %}
    
    {% if page == "comenzi la producatori" %}
        {% include 'continut_comenzi_producatori.html' %}
    {% endif %}

    {% if page == "produse" %}
        {% include 'produse.html' %}
    {% endif %}

    {% if page == "producatori" %}
        {% include 'producatori.html' %}
    {% endif %}

    
</div>     
{% endblock %}
