<h2> {{page|title}} </h2>

<section>
    <article>
        <SALUT>
        
        {% set tabel = producatori %}
        {% set activare_stergere = 1 %}
        {% set activare_editare = 1 %}
        
        {% include 'afisare_tabel.html' %}

        </article>
    <aside>
        <form name="form_adauga_producator" method="POST" action="/producatori" style="container:initial">
            <h3>Adauga producator</h3>
            <label for=nume_producator_nou>Producator</label><br>
            <input style="margin-top: 5px" type=text id=nume_producator_nou name=nume_producator_nou><br>
            <input style="margin-top: 5px" type=submit value="Adauga">
        </form>
    </aside>
</section>

